<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="main">
        <form action="/updatee/<%= data._id %> " method="post">
            <input value="<%= data.name %> " placeholder="ENTER MOVIE NAME" type="text" name="name" id="">
            <input value="<%= data.img %>" placeholder=" ENTER IMAGE URL" type="text" name="img" id="">
            <input value="<%= data.details %>" placeholder=" ENTER DETAILS" type="text" name="details" id="">
            <input value="<%= data.imbd %>" placeholder=" Enter imdb rating" type="number" name="imbd" id="">
            <input type="submit" value="submit">
        </form>

    </div>
</body>

</html>